.nav-bar{
    position: absolute;
    width: 1920px;
    height: 100px;
}

.nav-bar-active{
    position: absolute;
    width: 1920px;
    height: 300px;
    left: 0px;
    top: 0px;
}

.nav-bar-home{
    position: absolute;
    left: 5%;
    right: 85.94%;
    top: 27%;
    bottom: 29%;
}

.nav-bar-home-text{
    position: absolute;
    left: 5%;
    right: 85.94%;
    top: 27%;
    bottom: 29%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */


    color: #FFFFFF;
}

.nav-menu-active{
    position: absolute;
    left: 19.06%;
    right: 59.11%;
    top: 37%;
    bottom: 40%;
}

.nav-item-text{
    position: absolute;
    left: 19.06%;
    right: 78.23%;
    top: 37%;
    bottom: 40%;

    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}